body{
  background-color:pink;
  margin-left:40%;    
  margin-right:40%;
}

.Germantop{
  background-color:black;
  width:320px;
  height:80px;
}

.Germanmid{
  background-color:#DD0000;
  width:320px;
  height:80px;
}

.Germanbotm{
  background-color:#FFCE00;
  width:320px;
  height:80px;
}

.Frenchtop{
  background-color: #001E96;
  width:320px;
  height:200px;
}

.Frenchmid{
  background-color:#FFFFFF;
  width:320px;
  height:200px;
}

.Frenchbotm{
  background-color:#ED2436;
  width:320px;
  height:200px;
}

.Frenchflag{
  display: flex;
    flex-direction: row-reverse;
}

.Germanflag:hover .Germantop{
  background-color: #CE253C;
  width:320px;
  height:80px;
}

.Germanflag:hover .Germanmid{
  background-color: #ffff;
  width:320px;
  height:80px;
}

.Germanflag:hover .Germanbotm{
  background-color: #41704C;
  width:320px;
  height:80px;
}

.Frenchflag:hover .Frenchtop{
  background-color: #0E9C62;
  width:320px;
  height:200px;
}

.Frenchflag:hover .Frenchmid{
  background-color:#FFFFFF;
  width:320px;
  height:200px;
}

.Frenchflag:hover .Frenchbotm{
  background-color: #FF893C;
  width:320px;
  height:200px;
}